@{
    Layout = null; // Sayfa düzenini null olarak ayarla, yani hiçbir düzen uygulanmasın.
}

<body>
   . <!-- Sadece yer tutucu metin -->
</body>
@if (!User.Identity.IsAuthenticated)
{
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }

        setTimeout(preventBack, 0);

        window.onunload = function () { null };

        var refererUrl = document.referrer;

        setTimeout(function () {
            window.location = refererUrl;
        }, 30); // 300 milisaniye gecikme süresi
    </script>
}
